.cursor-pointer{
    cursor: pointer;
}

select {
    background: rgb(128 128 128 / 10%);;
    border-radius: 4px;
}
.select-wrapper{
    position: relative;
    cursor: pointer;
    &:after {
        content: "";
        width: 30px;
        height: 30px;
        background:url("/images/down-arrow.png") no-repeat  ;
        top: 10px;
        right: 6px;
        position: absolute;
        z-index: -1;
        display: inline-block;
    }
}
.currency-table-wrapper {
.v-field {
    &:after {
        content: "";
        width: 30px;
        height: 30px;
        background:url("/images/search.png") no-repeat  ;
        top: 10px;
        right: 6px;
        position: absolute;
        z-index: -1;
        display: inline-block;
    }

}
}

.v-progress-circular {
    left: 50%;
transform: translateX(-50%);
}
.currency-table {
    tr {
        &:first-child {
            background: rgb(128 128 128 / 37%);
        }
        th {
            cursor: pointer;
            transition: .4s;
            &:hover {
                background: rgb(203 199 199);
                transition: .4s;

            }
        }
    }
}

.pagination-container {
  display: flex;
  column-gap: 10px;
}
.paginate-buttons {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgb(242, 242, 242);
  border: 1px solid rgb(217, 217, 217);
  color: black;
}
.paginate-buttons:hover {
  background-color: #d8d8d8;
}
.active-page {
  background-color: #3498db;
  border: 1px solid #3498db;
  color: white;
}
.active-page:hover {
  background-color: #2988c8;
}